.subheadingcontenaier {background-color: rgb(255, 0, 0);
    padding: 10px;
    background-color: rgb(218, 218, 218);
    box-shadow: 10px 5px 5px rgb(19, 6, 6);
    opacity: 0.70;
    }

.logo {background-color: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 40px;}

.logo img {width: 200px;
    height: 500px;
    object-fit: cover;
    padding: 10px;}

p{
    text-align: center;
    color: rgb(2, 3, 3);
}

.intro {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 10px 5px 5px rgb(19, 6, 6);
    opacity: 0.70;

}

